
<%= image_tag("logo_skepsis.png", :width =>500/2, :height =>142/2 )%>


<center><%= image_tag("logo_goskeptical.png", :width =>365, :height =>83 )%></center>
<p>
</p>
<center><p style="font-family:verdana;font-size:130%">Skepsis Consulting's Unit for SaaS Development</p></center>


<br>
<br>
<br>

<center><p style="font-family:verdana;font-size:200%">Try Our Apps!
</p></center>


<center><a href= http://aqueous-citadel-9550.herokuapp.com/paso_es>Conjoint Simulator</a>
<p></center>
<center><a href= https://skepsis.shinyapps.io/segmentation>Customer Segmentation</a>
</p></center>



<br>
<br>
<br>

Go Skeptical!

<br>
<br>
<br>
<br>
<br>
<br>

<center>Contact us: info@skepsis-consulting.com</center>
<center>www.skepsis-consulting.com</center>
<center>@goskeptical</center>



