<center>
<img src="<%= image_url 'logo_goskeptical.png' %>" width="20%"  border="10" class="img-responsive">
<br>
<center><p style="font-family:verdana;font-size:130%">Skepsis Consulting's Unit for SaaS Development</p></center>
<br>
<br>
<br>
<center><p style="font-family:verdana;font-size:200%">Try Our Apps!</p></center>
<br>
<center><a href= https://skepsis.shinyapps.io/segmentation>Scout 1.0</a>
</p></center>



