<center>
<br>
<br>
<center><p style="font-family:verdana;font-size:130%">Skepsis Consulting's Unit for SaaS Development</p></center>
<br>
<br>
<br>
<div id="try" >
<img src="<%= image_url 'linea.png' %>" max-width="100%"  class="img-responsive">
</div>
<br>
<center><a href= https://skepsis.shinyapps.io/segmentation><img src="<%= image_url 'customerseg2.png' %>" max-width="90%"  class="img-responsive"></a>
</p></center>

<style>
#try {color:#C41D2B}
</style>