
<div id="container">
<br>
<p style="font-family:inglobal;font-size:180%" id="app">TRY OUR APPS!</p>
<a href= https://lit-inlet-8072.herokuapp.com/views/overview><img src="<%= image_url 'scout.png' %>"alt="Scout" class="img-responsive" id="scout"></a>

</div>

<br>
<br>
<style>

      @media only screen and (max-width: 768px) {
        body {
         		font-size: 1.5em;
         	 }

       		#scout {

        		max-width: 50%;
        		left: 22%;
        }

             									 } 
		#container img
		{
			margin-left: auto;
		  	margin-right:auto;
		}

		#app {
			text-align: center;
			color:#bc1727
		}

</style>


<!--    REFERER LINK !-->

<script>
function getReferrer(){
    alert(document.referrer);
}
function getIp(){
    alert(document.referrer);
}


</script>
<button onclick="getReferrer();">Get Referring URI</button>

<!--    FIN DE REFERER LINK !-->



<!--    TABLA CON TODA LA INFORMACION DE VISITANTE !-->
<table>
<th>key</th>
<th>Value</th>
<% for item in request.env %>
<tr>
<td><%= item[0] %></td>
<td><%= item[1] %></td>
</tr>
<% end %>
</table> 
<!--    FIN DE LA TABLA CON TODA LA INFORMACION DE VISITANTE !-->

<!--                    obtener ip                     !-->
<br><br><br><br><br><br><br><br><br><br>
<script type="text/javascript">
  var userip;
</script>

<script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>

<script type="text/javascript">
  document.write("Your IP is :", userip);
</script>

<!--                fin obtener ip                      !-->
<br>
<!--                Obtener username, visitor, utma, utmz, utmcsr, !-->
<script type="text/javascript">
	var cookie = document.cookie;
	document.write("datos de visitante: ",cookie)
</script>
<!--               FIN Obtener username, visitor, utma, utmz, utmcsr, !-->



<script type="text/javascript">
    var referrer = document.referrer;
</script>
<script type="text/javascript">
    document.write("Vienes de esta pagina: ",referrer)
</script>
<br>
<br>
<br>
<!--    INFORMACION MAS ESPECIFICA                      !-->





<script type="text/javascript">
    var id = action_dispatch.request_id;
</script>



<!-- Esto sirve remoto, no local !-->

<SCRIPT LANGUAGE="javascript">
 
var servername = '<!--#echo var="SERVER_NAME"-->';
var serverip   = '<!--#echo var="SERVER_ADDR"-->';
 
var clientip   = '<!--#echo var="REMOTE_ADDR"-->';
var clientname = '<!--#echo var="REMOTE_HOST"-->';
var clientip2  = '<!--#echo var="HTTP_X_FORWARDED_FOR"-->';
 
var lastmod    = '<!--#echo var="LAST_MODIFIED"-->';
var referrer   = '<!--#echo var="HTTP_REFERER"-->';
var useragent  = '<!--#echo var="HTTP_USER_AGENT"-->';
 
document.write("Server name: "+servername+" <br>");
document.write("Server IP: "+serverip+" <p>");
 
document.write("Client IP: <a href=http://whois.domaintools.com/"+clientip+">"+clientip+"</a> <br>");
document.write("Client name: <a href=http://whois.domaintools.com/"+clientname+">"+clientname+"</a> <br>");
document.write("Client original IP: <a href=http://whois.domaintools.com/"+clientip2+">"+clientip2+"</a> <p>");
 
document.write("This page last modified: "+lastmod+" <br>");
document.write("Referring page: <a href="+referrer+">"+referrer+"</a> <br>");
document.write("User agent string: "+useragent+" <p>");
 
</SCRIPT>
<!--                                 contador                    !-->
<script type="text/javascript">
  $(window).on('unload', window_unfocused);
$(window).on("focus", window_focused);
$(window).on("blur", window_unfocused);
setInterval(focus_check, 300 * 1000);

var start_focus_time = undefined;
var last_user_interaction = undefined;

function focus_check() {
    if (start_focus_time != undefined) {
        var curr_time = new Date();
        //Lets just put it for 4.5 minutes                                                                                
    if((curr_time.getTime() - last_user_interaction.getTime()) > (270 * 1000)) {
            //No interaction in this tab for last 5 minutes. Probably idle.                                               
            window_unfocused();
        }
    }
}

function window_focused(eo) {
    last_user_interaction = new Date();
    if (start_focus_time == undefined) {
    start_focus_time = new Date();                                                               
    }
}

function window_unfocused(eo) {
    if (start_focus_time != undefined) {
    var stop_focus_time = new Date();
    var total_focus_time = stop_focus_time.getTime() - start_focus_time.getTime();
    start_focus_time = undefined;
    var message = {};
        message.type = "time_spent";
        message.domain = document.domain;
        message.time_spent = total_focus_time;
        chrome.extension.sendMessage("", message);
    }
}
</script>

<!--                              fin   contador                    !-->