
<div id="container">
<br>
<p style="font-family:inglobal;font-size:180%" id="app">TRY OUR APPS!</p>
<a href= https://lit-inlet-8072.herokuapp.com/views/overview><img src="<%= image_url 'scout.png' %>"alt="Scout" class="img-responsive" id="scout"></a>

</div>

<br>
<br>
<style>

      @media only screen and (max-width: 768px) {
        body {
         		font-size: 1.5em;
         	 }

       		#scout {

        		max-width: 50%;
        		left: 22%;
        }

             									 } 
		#container img
		{
			margin-left: auto;
		  	margin-right:auto;
		}

		#app {
			text-align: center;
			color:#bc1727
		}



</style>