<br>
<br>
<p style="font-family:verdana;font-size:130%">Skepsis Consulting's Unit for SaaS Development</p>
<br>
<br>
<br>
<div id="container" align="center">
<img src="<%= image_url 'linea.png' %>" class="img-responsive" alt="Try our apps">
<br>
<a href= https://lit-inlet-8072.herokuapp.com/views/overview><img src="<%= image_url 'scout.png' %>"  alt="Scout" class="img-responsive" align="center"></a>
</div>