<br>
<br>
<br>
<br>
<br>
<div id="container-fluid">
<b><p style="font-family:open sans;font-size:160%" id="unit">Skepsis Consulting's Unit for SaaS Development</p></b>
</div>
<div id="container">
<br>
<p style="font-family:inglobal;font-size:180%" id="app">TRY OUR APPS!</p>
<a href= https://lit-inlet-8072.herokuapp.com/views/overview><img src="<%= image_url 'scout.png' %>"alt="Scout" class="img-responsive" id="scout"></a>
</div>

<br>
<br>
<style>

      @media only screen and (max-width: 768px) {
        body {
         		font-size: 1em;
         	 }
        img #grafico  { 
        		width: 20%;
        		left:5%;
        	 }
       		#scout {

        		width: 20%;
        		left: 22%;
        }

             									 } 
		#container img
		{
			margin-left: auto;
		  	margin-right:auto;
		}

		#app {
			text-align: center;
			color:#bc1727
		}
		#unit
		{
			color: #b2b2b2;
			text-align: center
		}


</style>