<center>
<br>
<br>
<center><p style="font-family:verdana;font-size:130%">Skepsis Consulting's Unit for SaaS Development</p></center>
<br>
<br>
<br>
<div id="container">
<img src="<%= image_url 'linea.png' %>"  id="linea" class="img-responsive" alt="try our apps">
<br>
<a href= https://lit-inlet-8072.herokuapp.com/views/overview><img src="<%= image_url 'scout.png' %>" max-width="90%" alt="Scout" class="img-responsive" align="center"></a>

</div>