<!DOCTYPE html>
<html>
<head>
  <title>goskeptical</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      @media only screen and (max-width: 768px) {
                          } 
      body {
          position: relative; 
      }



      .affix ~ .container {
         position: relative;
         top: 50px;
      }
      #logo {padding-top:2%;height:auto;color: #000; background-color: #fff;width: 90%}
      #banner {height:auto;color: #fff; background-color: #C41D2B;width: 90%}
      #contenido {padding-top:2%;height:500px;color: #000; background-color: #fff;}
      #footer {padding-top:2%;padding-bottom: 2%;height:10%;width: 90%;color: #fff; background-color: #C41D2B;line-height: 70%;}
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div id="logo" class="container">
        <img src="<%= image_url 'skepsis.png' %>"  id="skepsis" class="img-responsive" alt="Skepsis">
    </div>
    <div id="banner" class="container">
        <center><img src="<%= image_url 'goskeptical.png' %>" id="goskeptical"  class="img-responsive" alt="GOSKEPTICAL"></center>
    </div>
    <div id="contenido" class="container">
        <%= yield %>
    </div>


    <div id="footer" class="container" align="center">
        <p>Contact us: info@skepsis-consulting.com</p>
        <p>www.skepsis-consulting.com</p>
        <p>@goskeptical</p>
    </div>




